/* ------------------------- */
/* Styles General */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}

.txt-orange{
    font-weight: 300;
    color: orange;
}

.txt-white {
    font-weight: 700;
    color: #fff;
}

.txt-black {
	color: #000;
}

/* ------------------------------ */
/* Class Fullpage */
/* ------------------------------ */
#fp-nav{
    ul{
        li{
            a{
                span{
                    background-color: orange;
                }
            }
            .fp-tooltip{
                color: orange;
            }
        }
    }
}
/* ------------------------------ */
/* Navigation Menu */
/* ------------------------------ */
.nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 0.625rem 1.25rem;
    li,a{
        display: inline-block;
        margin: 0.625rem;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 1.1875rem;
        color: #c2c2c2;
        transition: .5s ease;
    }
    li{
        &.active{
            border-bottom: 2px solid orange;
        }
    }
}

.menu{
    li{
        a{
            transition: .5s ease;
            margin: 0;
            padding: 0;
        }
        &.active{
            a{
                color: orange;
            }
        }
        &:hover{
            a{
                color: orange;
            }
        }
    }
}

/* ------------------------------ */
/* Header */
/* ------------------------------ */
.header{
    background: url('../img/bg-imagen.jpeg');
    background-position: center;
    .container-title{
        text-align: center;
        position: relative;
        z-index: 99;
        .title{
            font-size: 4.375rem;
            text-transform: uppercase;
        }
    }
    .container-icon{
        position: absolute;
        z-index: 99;
        bottom: 3%;
        left: 50%;
        font-size: 2.5rem;
        animation: down-up 1s ease infinite;
    }
/*     .bg-video{
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: 100%;
        background: #000;
        background-position: center;
        background-size: contain;
        object-fit: cover;
    } */
}

/* ------------------------------ */
/* Animation */
/* ------------------------------ */
@keyframes down-up {
    0%  {transform: translateY(1.25rem);}
    25%  {transform: translateY(0rem);}
    100%  {transform: translateY(1.25rem);}
}

/* ------------------------------ */
/* Section Products */
/* ------------------------------ */
.products{
    article{
        background-position: center;
        background-size: cover;
        &:nth-child(1){
            background-image: url('../img/producto-01.jpg');
        }
        &:nth-child(2){
            background-image: url('../img/producto-02.jpg');
        }
        &:nth-child(3){
            background-image: url('../img/producto-03.jpg');
        }
    }
    .info-products{
        margin: 0 1.875rem;
        &::before{
            content: "";
            height: 3.125rem;
            width: 0.125rem;
            display: inline-block;
            background: orange;
            position: absolute;
            top: 50%;
            margin: -0.625rem;
        }
    }
    .model{
        font-size: 2.8125rem;
    }
    .description{
        font-size: 1.26rem;
    }
    .price{
        font-size: 1.56rem;
        &::before{
            content: "$";
            display: inline-block;
        }
    }
}

/* ------------------------------ */
/* Class Fullpage => sliders arrow*/
/* ------------------------------ */
.fp-controlArrow{
    &.fp-next,&.fp-prev{
        top: 95%;
    }
    &.fp-prev{
        //right: 90%;
        border-width: 1.25rem 1.25rem 1.25rem 0rem ;
        border-color: transparent #000 transparent transparent;
    }
    &.fp-next{
        //left: 90%;
        border-width: 1.25rem 0rem 1.25rem 1.25rem;
        border-color: transparent transparent transparent #000;
    }
}

/* ------------------------------ */
/* Footer */
/* ------------------------------ */
.footer{
    .txt-orange{
        text-transform: uppercase;
        font-size: 60px;
        letter-spacing: 2px;
        margin-bottom: 40px;
    }
    h2{
        opacity: 0;
        font-family: 'Oswald', sans-serif;
        transition: 1.5s ease all;
    }
    .social-network{
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 50px;
        a{
            display: flex;
            width: 100px;
            height: 100px;
            background: #fff;
            color: #30313A;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            margin: 0 20px;
        }
    }
    .fb{
        &:hover{
            background: #3b5998;
            i{
                color: #fff;
            }
        }
        i{
            color: #3b5998;
        }
    }
    .tw{
        &:hover{
            background: #1da1f2;
            i{
                color: #fff;
            }
        }
        i{
            color: #1da1f2;
        }
    }
    .ig{
        &:hover{
            background: #C13584;
            i{
                color: #fff;
            }
        }
        i{
            color: #C13584;
        }
    }
}

/* ------------------------------ */
/* Media Queries */
/* ------------------------------ */
@media screen and (max-width: 768px) {
    .menu li a,
    .menu li.active a {
        font-size: 18px;
    }
    .model {
        font-size: 40px;
    }
    .price {
        font-size: 23px;
    }
    .footer h2 {
        font-size: 15px;
    }
    .footer .social-network {
        font-size: 30px;
    }
    .footer .social-network a {
        width: 70px;
        height: 70px;
    }

    .footer .txt-orange {
        font-size: 40px;
    }
}

@media screen and (max-width: 576px) {
    .header .title {
        font-size: 60px;
    }

    .info-products {
        position: absolute;
        top: 70%;
    }

/*     .fp-controlArrow.fp-next {
        left: 100px;
    }

    .fp-controlArrow.fp-prev {
        left: 25px;
    } */
}

@media screen and (max-width: 450px) {
    .nav {
        display: block;
        text-align: center;
    }

    .nav a {
        font-size: 16px;
        margin-bottom: 0;
    }

    .menu {
        display: flex;
        justify-content: space-between;
    }

    .menu li a,
    .menu li.active a {
        font-size: 15px;
        padding: 5px;
    }

    .title {
        font-size: 45px;
    }

    .products .model {
        font-size: 30px;
    }

    .footer .txt-orange {
        font-size: 18px;
    }

    .footer .social-network a {
        width: 50px;
        height: 50px;
    }

    .footer .social-network a i {
        font-size: 24px;
    }
}